body{
    background: rgb(78, 78, 233);
    font: normal 15pt Trebuchet MS;
}

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

.home-social-icon{
    font-size: 50px;
    color: black;
}

.home-social-icon:hover{
    color: rgb(147, 113, 211);
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:rgb(100, 60, 175);
    border: none;
    border-radius: 12px;
    box-shadow: 0 9px #999;
  }
 
  .button:hover {background-color: rgb(147, 113, 211)}
  
  .button:active {
    background-color:rgb(100, 60, 175);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

div{
    text-align: center;
    padding: 8px; /*serve para criar espaço*/
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}