/*Gerais*/
body{
    font-family:'Averia Sans Libre', sans-serif;
}

.row{
    margin: 0;
}

.container{
    padding: 70px 0;
}

p, li{
    color: grey;
    font-size: 14px;
}

/*Barra de Navegação*/
header, .navbar{
    background-color: rgb(242, 245, 245);
}

#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand{
    padding: 0;
    color: black;
}

.navbar-brand:hover{
    color: rgb(129, 194, 194);
}

#navbar-links a{
    color: black;
}

.navbar-expand-lg .nav nav-tabs .nav-link{
    padding: 1rem .8rem;
}

/*Home*/
.container{
    padding: 0;
    margin-top: 350px;
}

.home-social-icon{
    font-size: 50px;
    color: black;
}

.home-social-icon:hover{
    color: rgb(129, 194, 194);
}

.main-title{
    color: rgb(129, 194, 194);
    font-size: 50px;
    font-weight: 700;
    letter-spacing: .1em;
    margin: .67em 0;
    text-align: center;
    bottom: 50%;
}

.second-title{
    color: rgb(92, 91, 91);
    margin-top: -.67rem;
    font-size: 40px;
    font-weight: 400;
    padding-left: 0;
    text-align: center;
    margin-bottom: 30px;
    bottom: 50%;
}

/*Sobre*/
#about-area{
    background-color: rgb(206, 238, 234);
}

#about-area p{
    font-size: 20px;
}

#about-list{
    list-style: none;
}

.icon{
    font-size: 50px;
    float: left;
    padding: 12px;
}

.main-button{
    display: block;
    height: auto;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    background-color: rgb(30, 109, 109);
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 20px;
    border: 1px solid #eee;
    border-radius: 6px;
    transition: .5s;
}

.main-button:hover{
    text-decoration: none;
    color: rgb(22, 56, 100);
    background-color: transparent;
    border-color: rgb(30, 109, 109);
}

/*Projetos*/
.card-body{
    text-align: center;
}

.card-title{
    font-size: 20px;
}

#project-area p{
    font-size: 15px;
}

/*Zoom*/
.zoom{
    overflow: hidden;
}

.zoom img{
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.zoom:hover img{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/*Contactos*/
#contact-area{
    background-color: rgb(206, 238, 234);
    text-align: center;
}

.contact-box p{
    font-size: 20px;
}

.contact-title{
    font-weight: bold;
    color: teal;
}

/*Copyright*/
#copy-area{
    background-color: rgb(233, 228, 228);
}

#copy-area .container{
    padding: 10px 0;
    text-align: center;
}

#copy-area .container p{
    margin-bottom: 0;
}

#copy-area .container a{
    font-weight: bold;
    color: rgb(75, 74, 74);
}

#copy-area .container a:hover{
    text-decoration: none;
    color: teal;
}


